set -g theme_display_ruby no

set -x LC_ALL en_US.UTF-8
set -x LANG en_US.UTF-8

set -x PATH /usr/local/sbin $PATH
set -x PATH /opt/homebrew/bin/ $PATH
set -x EDITOR /usr/bin/vim

ssh-add -q ~/.ssh/id_rsa

# Load oh-my-fish configuration.
contains /usr/local/bin $fish_user_paths; or set -Ua fish_user_paths /usr/local/bin
contains /usr/local/opt/ruby/bin $fish_user_paths; or set -Ua fish_user_paths /usr/local/opt/ruby/bin
contains /usr/local/opt/terraform@0.12/bin $fish_user_paths; or set -Ua fish_user_paths /usr/local/opt/terraform@0.12/bin

# Dancing helper
source $HOME/.config/fish/functions/atlas.fish
source $HOME/.config/fish/functions/dancing.fish
source $HOME/.config/fish/functions/development.fish

set -g fish_user_paths /usr/local/opt/openjdk/bin $fish_user_paths
fish_add_path /opt/homebrew/sbin

op completion fish | source

# Created by `pipx` on 2024-06-17 08:22:05
set PATH $PATH $HOME/.local/bin

# Tide customisation
set --universal tide_right_prompt_items status cmd_duration context jobs direnv node python rustc java php pulumi ruby go gcloud distrobox toolbox terraform aws nix_shell crystal elixir zig time

{{ if .isWorkComputer -}}
eval "$(tfcdev rc)"
{{ end -}}
