set -x HOMEBREW_GITHUB_API_TOKEN {{ onepasswordRead 'op://gv2pj3dcyg2wxx3ahtvgdamp2e/Everything GH token/token' }}
set -x GITHUB_TOKEN {{ onepasswordRead 'op://gv2pj3dcyg2wxx3ahtvgdamp2e/Everything GH token/token' }}
set -x BOB_GITHUB_TOKEN {{ onepasswordRead 'op://gv2pj3dcyg2wxx3ahtvgdamp2e/Everything GH token/token' }}
set -x NGROK_API_KEY {{ onepasswordRead 'op://dm6p7vq2kzadhezt5qhuvhavxe/tflocal-cloud Ngrok API key/password' }}
