[alias]
	co = checkout
	br = branch --sort=-committerdate
	ci = commit
	st = status
	aa = add --all
	cm = commit -m
	dcm = duet-commit -m
	f = commit --fixup
	df = diff
	l = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	fp = "!git push --force-with-lease origin \"$(git rev-parse --abbrev-ref HEAD)\""
	rb = pull --rebase origin main
	rbpr = "!sh -c 'set -e; base=$(gh pr view --json baseRefName --jq .baseRefName 2>/dev/null || true); if [ -z \"$base\" ]; then echo \"Could not determine PR base branch\" >&2; exit 2; fi; echo \"Rebasing current branch onto origin/$base\"; git pull --rebase origin \"$base\"' -"
    rbm = pull --rebase origin master
    rbb = pull --rebase origin beta
	ud = "!git pull --rebase origin \"$(git rev-parse --abbrev-ref HEAD)\""
    cofurf = "!sh -c \"git cof $1 && git ud && git rb && git fp\""
	nb = "!sh -c \"git checkout -b $1 && git push origin $1 -u --no-verify\" -"
    cof = "!sh -c \"git fetch && git checkout $1\" -"
	pickc = cherry-pick --continue
	pick = cherry-pick
	prnext = "!sh -c 'set -e; current=$(git rev-parse --abbrev-ref HEAD); branch=$(gh pr list --base \"$current\" --json headRefName --jq \".[0].headRefName\" 2>/dev/null || true); if [ -z \"$branch\" ]; then echo \"No PR found with base: $current\" >&2; exit 1; fi; echo \"Switching to branch: $branch\"; git checkout \"$branch\"' -"
[user]
	name = Daniel Schmidt
	email = danielmschmidt92@gmail.com
	signingkey = {{ onepasswordRead "op://gv2pj3dcyg2wxx3ahtvgdamp2e/okuhh55hdfabbnwvgzomsywrxe/id" "EI6GPO6VNJAVLGDDID3B75JI6E" }}
[core]
	editor = vim
	pager = less -F -X
	excludesFile = ~/.gitignore
[push]
	default = upstream
	autoSetupRemote = true
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[rebase]
	autosquash = true
	autoStash = true
[remote "origin"]
    fetch = +refs/pull/*/head:refs/remotes/origin/pr/*
[init]
	defaultBranch = main
[commit]
	gpgsign = true
[pull]
	rebase = true
[gpg]
	program = gpg

[pager]
    diff = delta
    log = delta
    reflog = delta
    show = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    features = side-by-side line-numbers decorations
    whitespace-error-style = 22 reverse

[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none
[http]
	postBuffer = 157286400
[url "git@github.com:"]
	insteadOf = https://github.com/
