{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash

brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range .packages.universal.taps -}}
tap {{ . | quote | replace " " "\", \"" }}
{{ end -}}
{{ range .packages.universal.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .packages.universal.casks -}}
cask {{ . | quote }}
{{ end -}}
{{ range .packages.universal.mas -}}
mas {{ .name | quote }}, id: {{ .id }}
{{ end -}}
EOF
{{ range .packages.universal.fisher -}}
fish -c 'fisher install {{ . | quote }}'
{{ end -}}
{{ end -}}

{{ if .isWorkComputer -}}

HOMEBREW_GITHUB_API_TOKEN='{{ onepasswordRead "op://gv2pj3dcyg2wxx3ahtvgdamp2e/ne2c6f2t3ytzfuzvdhxt4agmdu/password" "EI6GPO6VNJAVLGDDID3B75JI6E" }}' brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range .packages.work.taps -}}
tap {{ . | quote | replace " " "\", \"" }}
{{ end -}}
{{ range .packages.work.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .packages.work.casks -}}
cask {{ . | quote }}
{{ end -}}
{{ range .packages.work.mas -}}
mas {{ .name | quote }}, id: {{ .id }}
{{ end -}}
EOF
{{ range .packages.work.fisher -}}
fish -c 'fisher install {{ . | quote }}'
{{ end -}}

{{ else -}}
brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range .packages.private.taps -}}
tap {{ . | quote | replace " " "\", \"" }}
{{ end -}}
{{ range .packages.private.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .packages.private.casks -}}
cask {{ . | quote }}
{{ end -}}
{{ range .packages.private.mas -}}
mas {{ .name | quote }}, id: {{ .id }}
{{ end -}}
EOF
{{ range .packages.private.fisher -}}
fish -c 'fisher install {{ . | quote }}'
{{ end -}}
{{ end -}}

# Unfortunately I did not yet find a way to order scripts so I'm inlining this. Should all be pretty much a no-op anyways.
# We use the version of the secret to determine if we need to update the secret
# This needs to be kept in sync with the .gitconfig file
# Secret version: {{ (onepassword "okuhh55hdfabbnwvgzomsywrxe" "gv2pj3dcyg2wxx3ahtvgdamp2e" "EI6GPO6VNJAVLGDDID3B75JI6E").version }}

# Early abort if the key is already added
if gpg --list-secret-keys | grep -q {{ onepasswordRead "op://gv2pj3dcyg2wxx3ahtvgdamp2e/okuhh55hdfabbnwvgzomsywrxe/id" "EI6GPO6VNJAVLGDDID3B75JI6E" }}; then
    echo "GPG key is present already"
else
    # EOF the key into a temporary file

    tmpDir=$(mktemp -d)
    tmpFile="${tmpDir}/private.key"

    # Manually use the onepassword command to get the file
    op read --out-file $tmpFile op://gv2pj3dcyg2wxx3ahtvgdamp2e/okuhh55hdfabbnwvgzomsywrxe/gmail.key --account "EI6GPO6VNJAVLGDDID3B75JI6E"

    # Import the key
    gpg --import $tmpFile
fi

# Also inlined sub-script depending on a dependency

# hash of the mise config file, used to determine if we need to rerun this script
# mise/config.toml hash: {{ include "dot_config/mise/config.toml" | sha256sum }}

fish -c 'mise install -y'

fish -c "tide configure --auto --style=Rainbow --prompt_colors='True color' --show_time='24-hour format' --rainbow_prompt_separators=Angled --powerline_prompt_heads=Sharp --powerline_prompt_tails=Flat --powerline_prompt_style='Two lines, character and frame' --prompt_connection=Disconnected --powerline_right_prompt_frame=No --prompt_connection_andor_frame_color=Light --prompt_spacing=Sparse --icons='Few icons' --transient=No"

# fish -c 'sudo xcodebuild -license'
