#!/bin/bash

set -e

mkdir -p $HOME/work
mkdir -p $HOME/fun

{{ if .isWorkComputer -}}
mkdir -p $HOME/work/hashicorp
cd $HOME/work/hashicorp

gh repo clone hashicorp/terraform
gh repo clone hashicorp/tfc-agent
gh repo clone hashicorp/terraform-stacks-cli
gh repo clone hashicorp/go-tfe
gh repo clone hashicorp/atlas

# Demos
mkdir -p $HOME/work/hashicorp/demos
cd $HOME/work/hashicorp/demos
gh repo clone DanielMSchmidt/pet-nulls-stack

# Setup atlas
cd $HOME/work/hashicorp/atlas
op document get w56wflng6umcvxixwaw7jcpvxy --vault="qmgmv3ijjikw6elw25sersnbsy" --account="2HZZS3CSKVA7REGL25XWFDGOPE" > ./tmp/{{ onepasswordRead "op://qmgmv3ijjikw6elw25sersnbsy/w56wflng6umcvxixwaw7jcpvxy/public key" "2HZZS3CSKVA7REGL25XWFDGOPE" }}
{{ end -}}

cd $HOME/fun
# My blog is all I need for now
gh repo clone DanielMSchmidt/danielmschmidt.de
